{% load static %}
<footer>
  <div class="container">
    <!-- footer -->
    <div class="footer-cpy text-center">
      <div class="footer-social">
        <div class="copyrighttop">
          <ul>
            <li class="mx-3">
              <a class="facebook" href="https://www.facebook.com/">
                <i class="fab fa-facebook-f"></i>
                <span>Facebook</span>
              </a>
            </li>
            <li>
              <a class="facebook" href="https://www.twitter.com/">
                <i class="fab fa-twitter"></i>
                <span>Twitter</span>
              </a>
            </li>
            <li class="mx-3">
              <a class="facebook" href="https://www.google.com/">
                <i class="fab fa-google-plus-g"></i>
                <span>Google+</span>
              </a>
            </li>
            <li>
              <a class="facebook" href="https://www.pinterest.com/">
                <i class="fab fa-pinterest-p"></i>
                <span>Pinterest</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="w3layouts-agile-copyrightbottom">
        <p>
          © 2018 Weblog. All Rights Reserved | Design by
          <a href="http://w3layouts.com/">W3layouts</a>
        </p>
      </div>
    </div>
  </div>
</footer>
