{% extends 'base.html' %} {% block title %}About{% endblock title %}
<p></p>
{% block content %} {% load humanize %} {% load static %}
	<!--/banner-->
	<div class="banner-inner">
	</div>
	<!--//banner-->
	<!--/main-->
	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h2 class="tittle text-center">About</h3>
			<div class="row inner-sec">
				<!--left-->
				{% for i in detail %}
				<div>
					<p>{{i.body | safe}}</p>
				</div>
				{% endfor %}
				<!--//left-->
				<!--right-->
				
				<!--//right-->
			</div>
			<!-- ======= Team Section ======= -->
			<section id="team" class="padd-section text-center">

				<div class="container" data-aos="fade-up">
				  <div class="section-title text-center">
		  
					<h2>WeBlog Team</h2>
					<p class="separator">Meet our Awesome Team Members</p>
				  </div></br>
		  
				  <div class="row">
					{% for team in teams %}
					<div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
					  <div class="team-block bottom">
						<img src="{{team.photo.url}}" class="img-responsive" alt="img" >
						<div class="team-content">
						  <ul class="list-unstyled">
							<li><a href="{{team.facebook_link}}"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="{{team.twitter_link}}"><i class="fab fa-twitter"></i></a></li>
							<li><a href="{{team.google_link}}"><i class="fab fa-google"></i></a></li>
						  </ul>
						  <span>{{team.role}}</span>
						  <h4>{{team.first_name}} {{team.last_name}}</h4>
						</div>
					  </div>
					</div>
					{% endfor %}
				  </div>
				</div>
			  </section><!-- End Team Section -->
        		</br>
            <div class="right-blog-info text-center">
                <div class="tech-btm">
                    <h4>Sign up to our Newsletter</h4>
                    <p>Get Weekly Updates on our Products and Services</p>
                    <form action="{% url 'newsletter' %}" method="POST">
						{% csrf_token %}
                        <input type="email" name="email" placeholder="Email" required="">
                        <input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
		</div>
	</section>
	<!--//main-->
{% endblock content %}