{% extends 'base.html' %} {% block title %}{{post.title}}{% endblock title %}
<p></p>
{% block content %} {% load humanize %} {% load static %}
<!--//banner-->
<section class="banner-bottom">
  <!--/blog-->
  <div class="container">
    <div class="row">
      <!--left-->
      <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
        <div class="blog-grid-top">
          <div class="b-grid-top">
            <div class="blog_info_left_grid">
            <img
                src="{{single_post.photo.url}}"
                class="img-fluid"
                alt=""
                style="
                min-height: 500px;
                max-height: 500px;
                min-width: 900px;
                max-width: 900px;
            "
            />
            </div>
            <div class="blog-info-middle">
              <ul>
                <li>
                  <a href="#">
                    <i class="far fa-calendar-alt"></i>{{single_post.upload_time}}</a
                  >
                </li>
                <li class="mx-2">
                  <a href="#"> <i class="fas fa-eye"></i>{{view_count}}</a>
                </li>
                <li>
                  <a href="#"> <i class="far fa-comment"></i>{{count}} Comments</a>
                </li>
              </ul>
            </div>
          </div>

          <h3>
            <a href="single.html">{{single_post.title}}</a>
          </h3>
          <p>
            {{single_post.body | safe}}
          </p>
        </div>

        <div class="comment-top">
          <h4>Comments({{count}})</h4>
          {% for comment in comments %}
          <div class="media">
            <img src="{% static 'images/t1.jpg' %}" alt="" class="img-fluid" />
            <div class="media-body">
              <h5 class="mt-0">{{request.user}} | <span>{{comment.upload_time}}</span>
              </h5>
              <p>{{comment.comment | safe}}</p>
              {% comment %} <button class="open-button" onclick="openForm()">reply</button>
              <div class="form-popup" id="myForm">
                <form action="#" class="form-container">
                  {% csrf_token %}
                  {{form1.reply}}              
                  <button type="submit" class="btn">reply</button>
                  <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
              </div>    
              {% for reply in replies %}      
              <div class="media mt-3">
                <a class="d-flex pr-3" href="#">
                  <img
                    src="{% static 'images/t2.jpg' %}"
                    alt=""
                    class="img-fluid"
                  />
                </a>
                

                <!-- The form -->
                
                <div class="media-body">
                  <h5 class="mt-0">{{request.user}}| <span>{{reply.upload_time}}</span></h5>
                  <p>
                    {{reply.reply}}
                  </p>
                </div>
              </div>
              {% endfor %} {% endcomment %}
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="comment-top">
          <h4>Leave a Comment</h4>
          <div class="comment-bottom">
            {% if user.is_authenticated %}
            <form action="#" method="post">
              {% csrf_token %}
              <div class="row">
                {{form.comment}}
                <div class="col-lg-12">
                  <fieldset>
                    <button type="submit" id="form-submit" style="width: 100%" class="main-button btn btn-secondary">Submit</button>
                  </fieldset>
                </div>
              </div>
            </form>
            {% else %}
            <h5>You need to Signin to comment</h5> 
            {% endif %}
          </div>
        </div>
      </div>

      <!--//left-->
      <!--right-->
      <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
        <div class="right-blog-info text-left">
          <div class="single-gd tech-btm">
            <h4 class="text-center">Recent Posts</h4>
            {% for recent in recents %}
            <div class="blog-grids">
              <div class="blog-grid-left text-center">
                <a href="{{recent.get_url}}">
                  <img
                    src="{{recent.photo.url}}"
                    class="img-fluid"
                    alt=""
                    style="
                  min-width: 300px;
                  max-width: 300px;
                  min-height: 240px;
                  max-height: 240px;
                "
                  />
                </a>
              </div>
              <div class="blog-grid-right">
                <h5 class="text-center">
                  <a href="{{recent.get_url}}"
                    >{{recent.title}}</a
                  >
                </h5>
                <div class="sub-meta text-center">
                  <span> <i class="far fa-clock"></i>{{recent.upload_time}}</span>
                </div>
              </br></br>
              </div>
              <div class="clearfix"></div>
            </div>
            {% endfor %}
            </br></br></br>
            <div class="tech-btm">
              <h4 class="text-center">Sign up to our Newsletter</h4>
              <p class="text-center">Get Weekly Updates on our Products and Services</p>
              <form action="{% url 'newsletter' %}" method="post">
                {% csrf_token %}
                <input type="email" name="email" placeholder="Email" required="" />
                <input type="submit" value="Subscribe" />
              </form>
            </div>
          </div>
        </div>
      </aside>
      <!--//right-->
    </div>
  </div>
</section>
<!--//main-->
{% endblock content %}
