{% extends 'base.html' %} {% block title %}Signin{% endblock title %}
<p></p>
{% block content %} {% load static %}
<!--/main-->
<section class="main-content-w3layouts-agileits">
  <div class="container">
    <h3 class="tittle">Forgot Password?</h3>
    <div class="row inner-sec">
      <div class="login p-5 bg-light mx-auto mw-100">
        {% include 'includes/messages.html' %}
        <form action="{% url 'forgotpassword' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Email"
              name="email"
              required=""
            />
          </div>
          <div class="text-center">
            <button
              type="submit"
              class="btn btn-primary submit mb-4"
              style="width: 100%"
            >
              Submit
            </button>
          </div>
          <p class="text-center">
            Remember Password?
            <a href="{% url 'signin' %}"><span>Signin</span></a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
<!--//main-->
{% endblock content %}
