{% extends 'base.html' %} {% block title %}Signin{% endblock title %}
<p></p>
{% block content %} {% load static %}
<!--/main-->
<section class="main-content-w3layouts-agileits">
  <div class="container">
    <h3 class="tittle">Reset Password</h3>
    <div class="row inner-sec">
      <div class="login p-5 bg-light mx-auto mw-100">
        {% include 'includes/messages.html' %}
        <form action="{% url 'password_reset' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Password"
              name="password"
              required=""
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="confirm_password"
              placeholder="Password"
              required=""
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary submit mb-4"
            style="width: 100%"
          >
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<!--//main-->
{% endblock content %}
